@font-face {
    font-family: "PayfairDisplay";
    src: local("PayfairDisplay"), url("./fonts/PlayfairDisplay-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: "PayfairDisplay";
    src: local("PayfairDisplay"), url("./fonts/PlayfairDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "PTSans";
    src: local("PTSans"), url("./fonts/PTSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "PostNoBillsJaffna";
    src: local("Archangelsk"), url("./fonts/PostNoBillsJaffna-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
  }


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "PTSans", sans-serif;
}


.container {
    max-width: 1920px;
    padding: 0 405px;
    margin: 0 auto;
}

.header {
    background-color: #000;
    padding-top: 14px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;


    &__list {
        display: flex;
        align-items: center;
        gap: 18px;
    }

    &__link {
        font-weight: 400;
        font-size: 12px;
        color: gray;
    }

    a {
        font-weight: 400;
        font-size: 12px;
        color: gray;
    }

    span {
        font-weight: 400;
        font-size: 12px;
        color: gray;
    }

    &__btn {
        background: none;
        border: none;
        cursor: pointer;
        font-weight: 400;
        font-size: 12px;
        text-align: right;
        color: gray;
        display: flex;
        align-items: center;
        gap: 10px;
    }

}

.phone {
    display: flex;
    align-items: center;
    gap: 18px;
}

.navigate {
    background-color: #0f0f0f;
    padding: 25px 0;
    margin-top: 15px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__link {
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: gray;
        padding: 30px 20px;
        cursor: pointer;
        transition: background-color, color, 0.5s;

        &:hover {
            background-color: #1f1f1f;
            color: white;
        }

    }

    & .active {
        background-color: #1f1f1f;
        color: white;
    }
}

.banner {
    background-image: url(img/main-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    padding: 160px 0;

    &__square {
        width: 320px;
        height: 320px;
        border: 4px solid #fff;
        margin: 0 auto;
        margin-bottom: 80px;
    }

    & img {
        display: block;
        margin: 0 auto;
        border-bottom: 2px solid #fff;
        padding-bottom: 10px;
        margin-top: 93px;
    }

    &__desc {
        margin: 0 auto;
        font-weight: 400;
        font-size: 22px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        margin-top: 7px;
    }

    &__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-transform: uppercase;
        text-align: center;
        color: white;
    }
}

.container-wrapper {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
}

.collections {
    background-color: #000;

    &__img {
        background-image: url(img/collection.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 880px;
        height: 730px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 93px 80px;
    }

    &__h3 {
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        margin-bottom: 50px;
    }

    &__cards {
        display: flex;
        gap: 50px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: start;
        // background-color:  #191b1c;
        background: linear-gradient(to bottom, #191b1c 80%, #000 20%);

        & p {

            font-weight: 400;
            font-size: 18px;
            color: white;
            margin-bottom: 10px;
        }

        & img {
            margin: 55px 20px 80px;
        }

        & span {
            font-weight: 700;
            font-size: 16px;
            color: gray;
        }
    }

    &__line {
        width: 120px;
        height: 1px;
        background-color: white;
        margin-bottom: 50px;
    }

    &__img {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        }

    &__img-h3 {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        margin-bottom: 30px;
    }

    &__btn {
        background: none;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-align: center;
        color: white;
        padding: 12px 28px;
        border: 1px solid white;
        margin-bottom: 100px;
    }
}

.wrapper {
    display: flex;
}